/*
  SkyVoyage Styles

  Tip: Start by defining CSS custom properties (variables) for your
  color palette, spacing scale, and font sizes. This makes your
  design consistent and easy to change.

  Example:
  :root {
    --color-primary: #2563eb;
    --color-gray-100: #f1f5f9;
    --space-4: 1rem;
    --radius-md: 0.5rem;
  }
*/



/* -color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
    --color-primary-light: #60a5fa;
    --color-primary-bg: #eff6ff;
    --color-secondary: #7c3aed;
    --color-success: #059669;
    --color-success-bg: #ecfdf5;
    --color-error: #dc2626;
    --color-error-bg: #fef2f2;
    --color-warning: #d97706;
    --color-warning-bg: #fffbeb;
    --color-info: #0891b2;
    --color-info-bg: #ecfeff;
    --color-white: #ffffff;
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-gray-300: #cbd5e1;
    --color-gray-400: #94a3b8;
    --color-gray-500: #64748b;
    --color-gray-600: #475569;
    --color-gray-700: #334155;
    --color-gray-800: #1e293b;
    --color-gray-900: #0f172a; */





body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  background-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header{
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav_bar {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin: 0 auto;
}

.lucide_plane{
  width: 28px;
  height: 20px;
  border-radius: 40%;
}

.header_logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.15rem;
  /* font-family: "Inter", system-ui, sans-serif; */
}

.head_menu{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 40px;
  font-size: 1rem;
}

.h_menu{
  text-decoration: none;
  color: black;
  font-weight: 600;
  opacity: 0.65;
  /* font-family: "Inter", system-ui, sans-serif; */
  font-size: 0.86rem;
}

.h_menu.active {
  color: #2563eb;
  border-bottom: 2px solid #1d4ed8;
  opacity: 1;
}

.h_menu:hover {
    color: black;
    opacity: 1;
  }


.hero_section{
  background-image: linear-gradient(to right, #083aa4e7, #95bdee);
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* justify-content: center; */
}

.hero_section h1, .hero_section_p {
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
  /* font-family: "Inter", system-ui, sans-serif; */
}

.hero_section_p {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.76;
  padding-bottom: 3%;
}

.Flight_search_form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: white;
  padding: 2%;
  border-radius: 16px;
}

.search_form{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.serach_form_field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serach_form_label{
  font-size: 0.75rem;
  opacity: 0.65;
}

.serach_form_input{
  padding: 6px;
  border-radius: 8px;
}

.search_form_switch_btn{
  text-decoration: none;
  background: transparent;
  border: none;
  height: 10px;
}

.lucide_arrow {
  border: 2px solid black;
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.flight_form_sub_btn {
  background-color:#2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.85rem;

}

.deals_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.deals_section h2{
  font-weight: 500;
  font-size: 1.25rem;
}

.deals_p{
  color: black;
  font-size: 0.85rem;
  opacity: 0.6;
}

.deals-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  align-items: stretch;
  /* flex-grow: 0 0 90%; */
  padding-top: 5%;
  width: 86%;
}

.deal-card {
  flex: 0 0 31%;   /* 3 cards per row */
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  margin-bottom: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.deal-card:hover {
  transform: translateY(-4px); 
}

.card-top{
  padding: 10px;
  h2{
    font-size: 1rem;
    font-weight: 600;
  }
  p{
    font-size: 0.75rem;
    opacity: 0.75;
  }
  span{
    padding: 5px;
    border-radius: 25px;
    /* display: flex;
    justify-content: flex-end; */
    display: flex;
    justify-self: end; 
    /* border: 2px solid black; */
    background-color: #dbe7f5;
    font-size: 0.65rem;
  }
}

.card-bottom {
  background-color: white;
  color: #1d4ed8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  font-size: 0.75rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  p{
    color: black;
    opacity: 0.5;
  }
}

.hidden{
  display: none;
}
#resultsSection {
  background: #f3f4f6;
  min-height: 400px;
}
.results-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
}

#resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* RESULTS SECTION */
#resultsSection {
  padding: 40px 60px;
  background: #f4f6f9;
  min-height: 100vh;
}

.results-header {
  margin-bottom: 30px;
  .sort{
    display: flex;
    justify-self: end;
    padding-right: 10%;

  }
}

.results-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 30px;
}

/* FILTER SIDEBAR */
.filters {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* RESULTS CONTAINER */
#resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RESULT CARD */
.result-card {
  background: white;
  padding: 25px 30px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  transition: transform 0.2s ease;
  width: 100%;
}

.result-card:hover {
  transform: translateY(-3px);
}

/* Airline */
.result-card .airline {
  font-weight: 600;
  font-size: 16px;
  width: 20%;
}

/* Time blocks */
.time-block {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 50px;
  /* padding-right: 50px; */
  h3 { 
    font-size: 20px;
    margin: 0;
  }
  span {
    font-size: 14px;
    color: #666;
  }
}   

/* Duration */
.duration {
  text-align: center;
  font-size: 14px;
  color: #555;
  .line{
    display: flex;
    border: 1px solid #555;
    width: 20vw;
    position: relative;
    .dot1{
      position: absolute;
      border: 5px solid #555;
      border-radius: 50%;
      align-self: flex-start;
      top: -5px;
      transform: translateX(-50%);
    }
    .dot3{
      position: absolute;
      border: 5px solid #555;
      border-radius: 50%;
      align-self: flex-start;
      top: -5px;
      left: 3.5%;
      transform: translateX(-50%);
    }
    .dot2{
      position: absolute;
      border: 5px solid #555;
      border-radius: 50%;
      align-self: flex-start;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* Price section */
.price {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  p{
    font-size: 0.75rem;
    opacity: 0.5;
  }
}

.select-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background: #2b6ef5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.select-btn:hover {
  background: #1f57c5;
}




.filters{
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.filter-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.85rem;
  font-weight: 100;
}

.apply-btn{
  font-size: 0.75rem;
  padding: 6px;
  border-radius: 6px;
  background: transparent;
  border-color: #2563eb;
  color: #1f57c5;
  margin-top: 25%;
  font-weight: 600;
  width: 80%;
}

/* .results-layout{
  height: 80vh;
} */

.footer_section{
  align-items: center;
  background-color: white;
  /* height: 10vh; */
  display: flex;
  padding: 26px 0;
  text-align: center;
  justify-content: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  p{
    font-size: 0.75rem;
    opacity: 0.45;
  }
}

.bookings_main {
  width: 60%;
  margin: 0 auto;  
  padding: 40px 0;
}

.bookings_head{
  padding: 5% 0;
}

.bookings_head h1{
  font-weight: 600;
  padding-bottom: 20px;
}

.booking_flow{
  display: flex;
  gap: 10px;
}

.booking_step{
  background-color: rgb(217, 237, 217);
  padding: 5px 15px;
  border-radius: 16px;
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 200;
}

.booking_step_pym{
  background-color: #c6cff8;
  padding: 5px 15px;
  border-radius: 16px;
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.booking_step_cnfm{
  background-color: rgb(239, 239, 239);
  padding: 5px 15px;
  border-radius: 16px;
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 0.75rem;
  opacity: 0.5;
}

.booking_step_n {
  width: 24px;
  height: 24px;
  background-color: rgb(14, 163, 14);
  border-radius: 50%;
  color: white;
  display: flex;  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
}

.booking_step_pn{
  width: 24px;
  height: 24px;
  background-color: rgb(60, 60, 216);
  border-radius: 50%;
  color: white;
  display: flex;  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
}

.Booking_content{
  display: flex;
  gap: 5%;
  
}

.booking_content_left{
  display: flex;
  flex-direction: column;
  gap: 8%;
}

.booking_promoCode{
  background-color: white;
  box-shadow: 4px 6px 18px rgba(0,0,0,0.06);
  width: 460px;
  /* height: 60%; */
  padding: 4% 5%;
  border-radius: 10px;
}

.promo_in_btn{
  display: flex;
  gap: 6px;
  padding-top: 5%;
}

.booking_promoCode h2{
  font-size: 1rem;
  font-weight: 600;
}

.promo_input{
  width: 70%;
  padding: 16px;
  border-radius: 6px;
  border-color: #87838385;
}

.promo_btn {
  padding: 16px;
  border-radius: 6px;
  border-color: #2b6ef5;
  background: transparent;
  color: #2b6ef5;
  width: 20%;
  font-size: 0.9rem;
  font-weight: 600;
}

.booking_paymentDetails{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  box-shadow: 4px 6px 18px rgba(0,0,0,0.06);
  /* width: 460px; */
  padding: 8% 5%;
  border-radius: 10px;

  h2{
    font-size: 1rem;
  font-weight: 600;
  }
}

.booking_payment{
  display: flex;
  flex-direction: column;

  label{
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.76;
  }
}

.exp_cvv{
  display: flex;
  gap: 5%;
}

.card_name{
  padding: 16px;
  border-radius: 6px;
  border-color: #87838385;
}

.booking_content_right{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  box-shadow: 4px 6px 18px rgba(0,0,0,0.06);
  padding: 3% 3%;
  border-radius: 10px;
  
  h2{
    font-size: 1rem;
    font-weight: 600;
  }
}


.error_msg {
  color: #e53935;
  font-size: 12px;
  margin-top: 4px;
  display: none;
}

.input-error {
  border: 2px solid #e53935 !important;
}

.input-success {
  border: 2px solid #2e7d32 !important;
}

.success_msg {
  color: #2e7d32;
  font-size: 13px;
  margin-top: 6px;
  display: none;
}

.input-success {
  border: 2px solid #2e7d32 !important;
}

.input-error {
  border: 2px solid #e53935 !important;
}